body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(228, 221, 221);
    padding: 0px 20%;
}

#resume {
    font-size: 30px;
    text-align: center;
}

h2 {
    font-size: 15px;
}

.border {
    background-color: rgb(232, 232, 232);
    box-shadow: 5px 6px 5px 5px rgb(210, 206, 206);
    border: solid rgb(231, 229, 229) 2px;
    margin: 60px 0px;
}

.smooth-border {
    border-radius: 10px;
}

#header-profile {
    padding: 10px 5%;
    display: flex;
    border-radius: 100px;
}

#image {
    margin: auto 0px;
}

#image img {
    width: 150px;
    border-radius: 10px;
}

#header-information h2 {
    margin: 2px 0px;
}

#header-information {
    margin: auto 0px;
}

#image, #header-information {
    padding: 0px 20px;
}

.title-details h2 {
    font-size: 20px;
    color:rgb(57, 54, 54);
    text-shadow: 2px 2px rgb(160, 149, 149);
}

.details {
    display: flex;
    flex-direction: row;
}

.details-spacing {
    padding: 40px;
}

.info {
    padding: 0px 5px;
}

.row {
    display: block;
}

.spacing {
    margin: 10px 0px;
}

.tight-headers h2 {
    margin: 2px;
}

.list-details li {
    margin: 10px 0px;
}

@media screen and (max-width: 873px) {
    body {
        padding: 0px;
        width: 873px;
    }

    h2, li, h1 {
        font-size: 100%;
    }

    #header-profile,
    .details-spacing {
        margin: 60px auto;
        width: 468px;
    }
}