.main-section-details {
    background-image: linear-gradient(to bottom, #3939ff, #9292c4);
}

#archive-header, #body-archive h3 {
    font-family: Arial, Helvetica, sans-serif;
}

#archive-header {
    color: var(--white);
    font-size: 2em;
}

#body-archive a {
    text-decoration: underline var(--white);
    color: var(--white);
}

#body-archive ul {
    list-style: none;
}

#body-archive li {
    margin: var(--null-value) 3em;
}

#body-archive a:hover {
    color: rgb(198, 197, 197);
    text-decoration: underline rgb(198, 197, 197);
}

#body-archive h3 {
    margin: var(--normal-size) var(--null-value);
    font-size: var(--medium-normal-size);
}

@media screen and (max-width: 810px) {
    #archive-header {
        font-size: var(--medium-normal-size);
    }
    #body-archive h3 {
        font-size: var(--normal-size);
    }
}

@media screen and (max-width: 555px) {
    #archive-header {
        font-size: var(--normal-size);
    }
    #body-archive h3 {
        font-size: 0.6em;
    }
    #body-archive li {
        margin: var(--null-value) var(--normal-size);
    }
}