#banner-background {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(235, 235, 235, .75)), url("../img/university-building.jpg");
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    font-family: "Tauri", sans-serif;
}


#banner-image img {
    width: 45em;
    margin: var(--null-value) 20px;
}

#banner-image, #banner-label {
    flex: 1 1;
}

#banner-label {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: auto;
    margin-right: var(--large-size);
}

#banner-label hr {
    width: auto;
    border: solid var(--white);
}

#header-label h1 {
    font-size: calc(var(--large-size) + var(--large-size));
}

#label {
    margin: 5.25em var(--null-value);
}

#sub-label {
    font-size: var(--medium-normal-size);
}

#sub-label h2, #sub-label h3 {
    margin: var(--mini-size) var(--null-value);
}

#source-label {
    background-color: var(--white);
    opacity: 80%;
    padding: var(--normal-size);
    width: auto;
    height: auto;
    flex: 1 1;
}

#source-label hr {
    margin: var(--mini-size) var(--null-value);
    border: solid black;
}


@media screen and (max-width: 1330px) {
    #header-label h1 {
        font-size: calc(var(--large-size) + var(--normal-size));
    }
    #sub-label h3, #sub-label h2 {
        font-size: 1em;
        margin: var(--null-value);
    }
    #label {
        margin: 6em var(--null-value);
    }
    #banner-image img {
        width: 40em;
    }
}

@media screen and (max-width: 1196px) {
    #header-label h1 {
        font-size: var(--large-size);
    }
    #sub-label h3, #sub-label h2 {
        font-size: var(--medium-normal-size);
    }
    #banner-image {
        text-align: center;
        margin: auto;
    }
    #banner-image img {
        width: 30em;
    }
    #label {
        margin: calc(var(--large-size) + var(--large-size)) var(--null-value);
    }
}

@media screen and (max-width: 1048px) {
    #source-label h2 {
        font-size: var(--semi-normal-size);
    }
    #source-label h3 {
        font-size: var(--normal-size);
    }
    #source-label hr, #header-label hr {
        border-width: 2px;
    }
    #label {
        margin: 4.5em var(--null-value);
    }
}

@media screen and (max-width: 928px) {
    #banner-image img {
        width: 25em;
    }
}

@media screen and (max-width: 810px) {
    #header-label h1 {
        font-size: 1.5em;
    }
    #label hr, #source-label hr {
        border-width: 1px;
    }
    #source-label h2 {
        font-size: 1.1em;
    }
    #source-label h3 {
        font-size: .7em;
    }
    #banner-image img {
        width: 19em;
    }
    #label {
        margin: 1.6em var(--null-value);
    }
}

@media screen and (max-width: 704px) {
    #header-label h1 {
        font-size: var(--normal-size);
    }
    #sub-label h3, #sub-label h2 {
        font-size: 0.4em;
    }
    #source-label h2 {
        font-size: 0.7em;
    }
    #source-label h3 {
        font-size: 0.5em;
    }
    #banner-image img {
        width: 15em;
    }
    #label {
        margin: 1.2em var(--null-value);
    }
}

@media screen and (max-width: 555px) {
    #header-label h1 {
        font-size: 0.8em;
    }
    #sub-label h3, #sub-label h2 {
        font-size: 0.3em;
    }
    #source-label h2 {
        font-size: var(--medium-normal-size);
    }
    #source-label h3 {
        font-size: 0.3em;
    }
    #banner-image img {
        width: 13em;
    }
    #label {
        margin: 1.1em var(--null-value);
    }
}

@media screen and (max-width: 466px) {
    #header-label h1 {
        font-size: 0.6em;
    }
    #sub-label h3, #sub-label h2 {
        font-size: 0.2em;
    }
    #source-label h2 {
        font-size: 0.4em;
    }
    #source-label h3 {
        font-size: 0.3em;
    }
    #source-label {
        padding: var(--medium-normal-size);
    }
    #banner-image img {
        width: 11em;
    }
    #banner-label {
        margin-right: var(--normal-size);
    }
}

@media screen and (max-width: 325px) {
    #banner-image img {
        width: 10em;
    }
    #source-label {
        padding: 0.3em;
    }
    #label {
        margin: var(--normal-size) var(--null-value);
    }
}

