* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(81, 81, 241);
}

header, #psu-logo, ul {
    display: flex;
}

#psu-logo > div {
    margin: auto 8px;
}

#psu-logo {
    flex: 1 1;
}

#logo img {
    width: 7em;
}

#nav-list ul {
    list-style: none;
}

#nav-list li {
    border: solid white 1px;
    margin: 1em;
}

#nav-list a {
    text-decoration: none;
}

#logo-label {
    font-family: Arial, Ubuntu, Helvetica, sans-serif;
    color: rgb(30, 30, 125);
    margin: auto 0;
}


