#logo-label, #nav-list a {
    font-family: Arial, Ubuntu, Helvetica, sans-serif;
}

header {
    padding: var(--normal-size);
    background-color: var(--primary-blue);
}

header, #psu-logo, #nav-list ul {
    display: flex;
}

#psu-logo > div {
    margin: auto 8px;
}

#psu-logo {
    flex: 1 1;
}

#logo img {
    width: 7em;
}

#nav-list ul {
    list-style: none;
}

#nav-list li {
    text-align: center;
    border: solid var(--white) 1px;
    margin: var(--normal-size);
    padding: var(--normal-size) var(--medium-normal-size);
    border-radius: var(--normal-size);
    background-color: var(--white);
    width: auto;
}

#nav-list {
    margin: auto var(--null-value);
}

#nav-list a {
    text-decoration: none;
    font-size: var(--semi-normal-size);
}

#logo-label {
    color: var(--secondary-blue);
    margin: auto var(--null-value);
}

@media screen and (max-width: 1048px) {
    #nav-list, #logo-label {
        font-size: 0.75em;
    }

    #psu-logo img {
        width: 5em;
    }
}

@media screen and (max-width: 810px) {
    #nav-list, #logo-label {
        font-size: 0.5em;
    }

    #psu-logo img {
        width: 3em;
    }
}

@media screen and (max-width: 555px) {
    #nav-list, #logo-label {
        font-size: 0.40em;
    }

    #psu-logo img {
        width: var(--large-size);
    }
}

@media screen and (max-width: 466px) {
    #nav-list, #logo-label {
        font-size: 0.25em;
    }

    #psu-logo img {
        width: 2.5em;
    }
}