@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Herr+Von+Muellerhoff&family=Pinyon+Script&family=Sacramento&family=Tangerine:wght@400;700&family=Tauri&display=swap');

* {
    margin: var(--null-value);
    padding: var(--null-value);
}

@keyframes banner-background-transistion {
    from { opacity: 0%; }
    to { opacity: 100%; }
}

:root {
    --white: #fff;
    --secondary-blue: #1e1e7d;
    --primary-blue: #5151f1;
    --normal-size: 1em;
    --semi-normal-size: 1.25em;
    --medium-normal-size: 1.5em;
    --large-size: 2em;
    --null-value: 0;
    --mini-size: 0.5em;
}