:root {
    --white: #fff;
    --secondary-blue: #1e1e7d;
    --primary-blue: #5151f1;
    --normal-size: 1em;
    --semi-normal-size: 1.25em;
    --medium-normal-size: 1.5em;
    --large-size: 2em;
    --null-value: 0;
    --mini-size: 0.5em;
}